Repository marvik-ai/success-orchestry-api: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-yaml, ruff, ruff-format, mypy

check-yaml:
  name: Check YAML
  entry: check-yaml
  language: python
  stages:
  - pre-commit

ruff:
  name: ruff
  entry: ruff check --fix
  language: system
  stages:
  - pre-commit

ruff-format:
  name: ruff-format
  entry: ruff format
  language: system
  stages:
  - pre-commit

mypy:
  name: mypy
  entry: mypy .
  language: system
  pass_filenames: false
  stages:
  - pre-commit

IAS-25 refactor: synqued requirements-dev | pre-commit and pyproject versions
  migrations/env.py
Due: ruff, ruff-format, mypy

feat(ias-25): employee get endpoints and bugfixes (#8)
  .pre-commit-config.yaml
  Makefile
  README.md
  migrations/env.py
  migrations/versions/01a5e308d4a0_adding_employee_personal_info_table.py
  migrations/versions/1cb6c4d4cafc_adding_employee_financial_info_table.py
  migrations/versions/3bc9c59952e9_adding_new_employee_status_terminated.py
  migrations/versions/76e54af3a89d_adding_employee_table.py
  migrations/versions/950ff5d5ed1e_initial_migration.py
  migrations/versions/daa765486560_change_optional_id.py
  migrations/versions/f6867092327c_added_triggers_to_employee_personal_.py
  requirements-dev.txt
  requirements.txt
  seed.py
  src/controllers/employee_controller.py
  src/models/employee_model.py
  src/repositories/employee_repository.py
  src/services/employee_service.py
  src/utils/employees_seed_factory.py
Due: check-yaml, ruff, ruff-format, mypy

IAS-17 feat: add backend.yml ci (#6)
  .github/workflows/backend.yml
  Makefile
  README.md
  requirements.txt
Due: check-yaml

IAS-28 fix: fixing return types from get_employee_by_id and get_filtered_employees
  src/repositories/employee_repository.py
  src/services/employee_service.py
  tests/test_employee_service.py
Due: ruff, ruff-format, mypy

IAS-28 refactor: deleting spanish comments
  src/repositories/employee_repository.py
  src/utils/employees_seed_factory.py
Due: ruff, ruff-format, mypy

IAS-28 fix: tests fixed
  tests/test_employee_service.py
Due: ruff, ruff-format, mypy

IAS-28 fix: moved HTTP exceptions to controller
  Makefile
  src/controllers/employee_controller.py
  src/services/employee_service.py
  tests/test_employee_controller.py
  tests/test_employee_service.py
Due: ruff, ruff-format, mypy

Path conditions:
  check-yaml: any of: \.(yaml|yml)$
  ruff: any of: \.py$
  ruff-format: any of: \.py$
  mypy: any of: \.py$
